<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100" placeholder="WA_ID"><br>
    <input id="token" type="text" size="300" placeholder="token"><br>
    <input id="org" type="text" size="100" placeholder="org"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var token = document.querySelector('#token').value;
            var org = document.querySelector('#org').value;

            localStorage.setItem('token', token);
            localStorage.setItem('org', org);

            window.location.pathname = '/api/chat/channel/' + roomName + '/';
        };
    </script>
</body>
</html>