<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzEyMzAyOTc0LCJpYXQiOjE3MTIyMTY1NzQsImp0aSI6IjBhNDE3YTFjOGQzOTQyYzI4ZGFkODk4YmExOTNkN2I0IiwidXNlcl9pZCI6IjQzMDYwZDNhLTc0YjgtNDU4OC1hNmEzLTFhMzM5NTIyY2MxZiJ9.WFCdqPMWmiBmlclBLn6Q0nHGc0dtpBeiUKd4JyHOb40';
        const org = '3650dad3-5670-49ee-ab5c-e490a2c791bf';
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
            + '?token=' 
            + token
            + '&org='
            + org
        );

        chatSocket.onmessage = function(event) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onopen = function(e) {
            console.log('WebSocket connection opened');
        };

        chatSocket.onerror = function(error) {
            console.error("WebSocket error:", error);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly', e);
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>

<!-- ,
[
    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzEyMjI0NDY5LCJpYXQiOjE3MTIxMzgwNjksImp0aSI6ImMxMzU1Y2YxYjA1NjQ0MDc4ZDRmZmQ0OWMxZjQ4MGM2IiwidXNlcl9pZCI6IjQzMDYwZDNhLTc0YjgtNDU4OC1hNmEzLTFhMzM5NTIyY2MxZiJ9.rpRsRxO33-3ypQ9l9dbdI_XAQl-py0HWKIJwJTXRHlM',
    '3650dad3-5670-49ee-ab5c-e490a2c791bf'
] -->